body {
  margin: 0;
  border: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: system-ui, sans-serif;
}

.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}

.container > table {
  border: 0;
  width: 100%;
  height: auto;
  border-spacing: 5px;
}

.container > table tr > td {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  user-select: none;
}

.container > table tr > td > span {
  margin: 5px;
  margin-right: 0;
  margin-bottom: 0;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  transition: 300ms ease background-color;
}

.container > table tr > td > span[id],
.container > table tr > td > span[class] {
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.container > table tr > td > span:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.container > table tr > td > span:before {
  content: '';
  width: 42px;
  height: 42px;
  opacity: 0.65;
  cursor: pointer;
  max-width: 42px;
  min-width: 42px;
  user-select: none;
  line-height: 42px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  background-size: 16px !important;
}

.container > table .undo:before {background: url('icons/undo.png') no-repeat center center}
.container > table .redo:before {background: url('icons/redo.png') no-repeat center center}
.container > table .bold:before {background: url('icons/bold.png') no-repeat center center}
.container > table .clear:before {background: url('icons/clear.png') no-repeat center center}
.container > table .print:before {background: url('icons/print.png') no-repeat center center}
.container > table .indent:before {background: url('icons/indent.png') no-repeat center center}
.container > table .unlink:before {background: url('icons/unlink.png') no-repeat center center}
.container > table .italic:before {background: url('icons/italic.png') no-repeat center center}
.container > table .outdent:before {background: url('icons/outdent.png') no-repeat center center}
.container > table .underline:before {background: url('icons/underline.png') no-repeat center center}
.container > table .subscript:before {background: url('icons/subscript.png') no-repeat center center}
.container > table .superscript:before {background: url('icons/superscript.png') no-repeat center center}
.container > table .justifyFull:before {background: url('icons/justifyFull.png') no-repeat center center}
.container > table .justifyLeft:before {background: url('icons/justifyLeft.png') no-repeat center center}
.container > table .removeFormat:before {background: url('icons/removeFormat.png') no-repeat center center}
.container > table .justifyRight:before {background: url('icons/justifyRight.png') no-repeat center center}
.container > table .strikeThrough:before {background: url('icons/strikeThrough.png') no-repeat center center}
.container > table .justifyCenter:before {background: url('icons/justifyCenter.png') no-repeat center center}
.container > table .insertOrderedList:before {background: url('icons/insertOrderedList.png') no-repeat center center}
.container > table .insertUnorderedList:before {background: url('icons/insertUnorderedList.png') no-repeat center center}

.container > table #fileio input {display: none}
.container > table #convert:before {display: none}
.container > table #fontName:before {display: none}
.container > table #fileio:before {background: url('icons/fileio.png') no-repeat center center}
.container > table #backColor:before {background: url('icons/backColor.png') no-repeat center center}
.container > table #foreColor:before {background: url('icons/foreColor.png') no-repeat center center}
.container > table #increaseFontSize:before {background: url('icons/increaseFontSize.png') no-repeat center center}
.container > table #decreaseFontSize:before {background: url('icons/decreaseFontSize.png') no-repeat center center}

.container > table #convert {
  border: 0;
  width: 92px;
  color: #fff;
  height: 42px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  letter-spacing: 1px;
  font-family: monospace;
  text-transform: uppercase;
  background-color: #9147d5;
  transition: 300ms ease background-color;
}

.container > table #convert:hover {
  background-color: #833bc5;
}

.container > table tr > td > span > input {
  border: 0;
  margin: 0;
  padding: 0;
  width: 29px;
  height: 32px;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
  padding-left: 5px;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: transparent;
  border-left: solid 1px rgba(0, 0, 0, 0.05);
}

.container > table tr > td > span > select {
  margin: 0;
  border: 0;
  padding: 0;
  color: #333;
  width: 147px;
  height: 42px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  text-indent: 5px;
  font-family: monospace;
  box-sizing: border-box;
  background-color: #fff;
}

.container > table tr > td > span > input:focus {
  outline: none;
}

.container .textarea {
  text-align: center;
}

.container .textarea[print] {
  border-color: transparent;
}

.container .textarea > div {
  color: #333;
  resize: both;
  margin: auto;
  padding: 10px;
  outline: none;
  font-size: 15px;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 5px;
  box-sizing: border-box;
  background-color: #fff;
  width: calc(100% - 10px);
  background-size: contain;
  height: calc(100vh - 128px);
  background-position: center;
  background-repeat: no-repeat;
  font-family: system-ui, sans-serif;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.toolbar {
  top: 0;
  right: 0;
  z-index: 11;
  position: absolute;
}

.toolbar > table {
  border-spacing: 5px;
  table-layout: fixed;
}

.toolbar > table tr td {
  border: 0;
  padding: 0;
  width: 42px;
  color: #333;
  height: 42px;
  font-size: 13px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: #fff;
  transition: 300ms ease all;
  font-family: system-ui, sans-serif;
}

.toolbar > table tr td:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.toolbar > table tr td svg {
  fill: #555;
  margin-top: -4px;
  pointer-events: none;
  vertical-align: middle;
}

@media (max-width: 800px) {
  body {
    overflow-y: scroll;
  }
  .toolbar {
    display: none;
  }
}

@media print {
  body {
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .toolbar, .buttons {
    display: none;
  }
  .container > table {
    border-spacing: 0;
  }
  .container .textarea {
    border-color: transparent;
  }
  .container .textarea > div {
    border: 0;
  }
}

html[context='popup'] body {
  overflow-y: hidden;
}

html[context='popup'] .container .textarea > div {
  height: calc(100vh - 178px);
}

html[context='webapp'] .toolbar #reload,
html[context='webapp'] .toolbar #support,
html[context='webapp'] .toolbar #donation {
  display: none;
}

html[theme='dark'] {
  filter: invert(1);
  color-scheme: dark;
}

html[theme='dark'] .container > table #convert {
  color: #ebebeb;
  filter: invert(1);
}

html[theme='dark'] .container > table #foreColor input,
html[theme='dark'] .container > table #backColor input {
  color: #000000;
  filter: invert(1);
  background-color: #121212;
  border-color: rgb(255 255 255 / 15%);
}

html[theme='dark'] .container .textarea {
  filter: invert(1);
  background-color: #121212;
}

html[theme='dark'] .container .textarea > div {
  filter: brightness(0.85);
  border-color: rgb(255 255 255 / 20%);
}

html[theme='dark'] .container > table #foreColor:before,
html[theme='dark'] .container > table #backColor:before {
  filter: hue-rotate(180deg) brightness(2);
}

html[theme='dark'] .container > table tr > td > span > select {
  color: #ebebeb;
  filter: invert(1);
  background-color: #121212;
}
